<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>24hrHealthy</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body class="bn">
    
    <h1 class="glow welcome">WELCOME TO 24hrHealthy!!</h1>
    
    <div class="large">
    
    <div class="patient">
        <a href="http://localhost:8080/patient"><img src="patientimage.jpg" class="patient-img " alt="patient"></a>
       <h4 class="ptext">Patient</h4>
    </div>
    <div class="doctor">
       <a href="http://localhost:3000/login"> <img src="doctorimage.jpeg" class="doctor-img"  alt="doctor"> </a> 
        <h4 class="dtext">Doctor</h4>
    </div>
    <div class="medical_s">
        <img src="medicalstore.jpeg"class="medical_s-img" alt="medical store">
        <h4 class="mstext">Medical store</h4>
    </div>
    <div class="admin">
        <img src="admin.jpeg"class="admin-img"alt="admin">
        <h4 class="atext">Admin</h4>
    </div>
   
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>