<% layout("/layouts/boilerplate.ejs")-%>
<body class="signupbg">
    <div class="row mt-5">
        <div class="col-6 offset-3">
                <form action="login" method="POST">
                    <h1 col-6 offset-3 >Login</h1>
                    <div class="mb-3">
                        <label for="username" class="form-label"> Doctor name</label>
                        <input name="username"  type="text" class="form-control" required />
                    </div>
            
                
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input name="password"  type="password" class="form-control" required />
                    </div>
                    <button class="btn btn-success">Login</button>
                </form>
            </div>
            </div>
            <br><br>
            <hr>
            <div class="loginor">
                <h3>OR</h3><br><br>
                <a href="http://localhost:3000/signup" class="btn btn-primary">Signup</a>
            </div>
            
    <br><br><br><br><br><br>
    </body>