.navbar{
  display: flex;
}
.login{
  color: #fff;
  margin-left: 1170px;
  text-decoration: none;
}
.signup{
  color: #fff;
  text-decoration: none;
  margin-left: 0px;
  margin-right: 20px;
}
.logout{
  color: #fff;
  text-decoration: none;
  margin-left: 0px;
}
.signupbg{
  background-image: url("../images/signup.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.loginor{
  text-align: center;
}
.optionsymp{
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
  margin-top: 80px;
}

.bgdoctorview{
  background-image: url("signup.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.imgp{
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
.alts{
  text-decoration: none;
  color: black;
  font-size: 15px;
}
.glow {
  font-size: 60px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #007fe6, 0 0 40px #0058e6, 0 0 50px #00dbe6, 0 0 60px #0032e6, 0 0 70px #0049e6;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #4db5ff, 0 0 40px #4d56ff, 0 0 50px #4dafff, 0 0 60px #4dc1ff, 0 0 70px #4d7fff, 0 0 80px #4d9dff;
  }
}
.cardprofile{
  text-align: center !important;
  height: 300px !important;
  width: 1500px !important;
  margin-left: 700px;
  margin-top: 100px;
  border-radius: 12px !important;
  opacity: 0.8;

}
.profile1{
  margin-top: 40px! important;

}
.docpbg{
  background-image: url("../images/doc.avif");
  background-repeat: no-repeat;
  background-size: cover;
}
.cardbox{
  border: 2px solid black!important;
  background-color: white;
  opacity: 0.85;
  border-radius: 12px !important;
}
.card{
  background-image: url("../images/signup.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0%;
  border-image-width: 0%;
 
 
}
.signupbg{
  background-image: url("../images/signup.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
}

.inputsym{
  width: 500px !important;
}
.formp{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.navicon{
  display:flex;
  justify-content: space-evenly;
  padding: 0%;
}
.menui{
 
    border-radius: 50%;
    height: 50px;
    width: 50px;
  
}
.animated-border-box, .animated-border-box-glow{
  max-height: 200px;
  max-width: 650px;
  height: 50%;
  width: 100%;
  position: absolute;
  overflow: hidden; 
  z-index: 0;
 
  /* Border Radius */
	border-radius: 10px;
  margin-left: 400px;
}

.animated-border-box-glow{
  overflow: hidden;
  /* Glow Blur */
  filter: blur(20px);
}

.animated-border-box:before, .animated-border-box-glow:before {
  content: '';
  z-index: -2;
  text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(0deg);
  position: absolute;
	width: 99999px;
	height: 99999px;
	background-repeat: no-repeat;
	background-position: 0 0;
  /*border color, change middle color*/
	background-image: conic-gradient(rgba(0,0,0,0), #1976ed, rgba(0,0,0,0) 25%);
  /* change speed here */
	animation: rotate 4s linear infinite;
}

.animated-border-box:after {
	content: '';
	position: absolute;
	z-index: -1;
  /* border width */
	left: 5px;
	top: 5px;
  /* double the px from the border width left */
	width: calc(100% - 10px);
	height: calc(100% - 10px);
  /*bg color*/
	background: #292a2e;
  /*box border radius*/
	border-radius: 7px;
}

@keyframes rotate {
	100% {
		transform: translate(-50%, -50%) rotate(1turn);
	}
}

/*// Border Animation END//*/



.center-box{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1D1E22;
}

